.from-box
{
    margin: 0px auto;
    padding: 15px;
    
}
h4
{
    text-align: center;
}
h4{
    color: white;
}

h3{
    color: white;
}

.modal-body
{
    margin: -18px;
}
table
{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
th,td
{
    padding: 8px;
}
th
{ 
    background-color: #5582e4;
    color: white;
}
.tr:nth-child(even)
{
    background-color: #f2f2f2;
}
.model-header
{
    background-color: #5582e4;
    color: white;
}
.close-btn1
{
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header
{
    padding: 18px;
     background-color: #5582e4;
}
.close-icon
{
    float: right;
}
.disabled-input {
    /* opacity: 0.5; */
    cursor:not-allowed; 

    pointer-events: none;
  }
  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
   
  